<section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>${title}</h2>
        <p>${text}</p>
      </div>
      <div class="row">
        <div class="col">
          <div class="pricing-box">
            <h3>To Do</h3>
            <p>Demo gives you full access to all features for 7 days</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Five projects</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="pricing-box">
            <h3>In progress</h3>
            <p>Outrank your competitors with this amazing software</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="pricing-box">
            <h3>In review</h3>
            <p>For agencies and businesses with extensive web presence</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects</li>
            </ul>
          </div>
        </div>
        <div class="col">
            <div class="pricing-box">
              <h3>Done</h3>
              <p>For agencies and businesses with extensive web presence</p>
              <div class="divider-light"></div>
              <ul>
                <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
                <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
                <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
                <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
                <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </section>